<!DOCTYPE html>
<html lang="pl">
    <head>
        <link rel="stylesheet" type="text/css" href="public/css/style.css">
        <title>project_seven - Logowanie</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    </head>
    <body>
        <div class="container">
            <div class="logo-container">
                <img class="logo-svg" src="public/img/seven1.svg">
            </div>
            <div class="login-container">
                <form>
                    <input name="email" type="text" placeholder="jankowalski@email.com">
                    <input name="password" type="password" placeholder="**************">
                    <button><img id="login_arrow" src="public/img/login_arrow.svg"></button>
                </form>
            </div>
        </div>
    </body>
</html>