html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
  line-height: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #1a1c24;
}

.roulette-svg {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1413%)
    hue-rotate(248deg) brightness(74%) contrast(79%);
}

.nav-buttons-games--roulette {
  color: #858585;
}

.coinflip-svg {
  filter: brightness(0) saturate(100%) invert(75%) sepia(81%) saturate(629%)
    hue-rotate(334deg) brightness(104%) contrast(106%);
}

.nav-buttons-games--coinflip {
  color: #fec227;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  min-height: 80vh;
}

.bet-form {
  display: flex;
  flex-direction: column;
}

.bet-form-checkboxes--label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bet-form-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin: 1rem 0rem;
}

.tails-svg {
  height: 8rem;
  width: 8rem;
  filter: invert(94%) sepia(94%) saturate(0%) hue-rotate(256deg)
    brightness(106%) contrast(106%);
}

.heads-svg {
  height: 8rem;
  width: 8rem;
  filter: brightness(0) saturate(100%) invert(75%) sepia(81%) saturate(629%)
    hue-rotate(334deg) brightness(104%) contrast(106%);
}

.coinflip-labels {
  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid rgba(85, 85, 85, 0.3);
  border-radius: 1rem;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.form-answer {
  display: inline-block;
}

.bet-form-submit {
  width: fit-content;
  align-self: center;
  background-color: #333541;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.coinflip-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

#coinflip-result-text {
  color: #fec227;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 4rem;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="radio"] {
  opacity: 0;
  width: 0;
  height: 0;
}

input[type="radio"]:active ~ label {
  opacity: 1;
}

input[type="radio"]:checked ~ label {
  opacity: 1;
  border: 1px solid rgba(85, 85, 85, 1);
  background-color: #141419;
}

@media screen and (max-width: 768px) {
  .bet-input-button,
  .nav-buttons-games--coinflip,
  .nav-buttons-games--roulette,
  .small-logo-svg,
  .polish-flag-svg,
  .language_text,
  .logged-in-text {
    display: none;
  }

  .nav-buttons-games {
    gap: 1.5rem;
  }

  .bet-form-options {
    gap: 1rem;
  }

  .coinflip-labels {
    padding: 1rem;
  }
}
