html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #1a1c24;
}

.roulette-svg {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1413%)
    hue-rotate(248deg) brightness(74%) contrast(79%);
}

.nav-buttons-games--roulette {
  color: #858585;
}

.coinflip-svg {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1413%)
    hue-rotate(248deg) brightness(74%) contrast(79%);
}

.nav-buttons-games--coinflip {
  color: #858585;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;

  min-height: 80vh;
  width: 80vw;
  color: #fff;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

::-webkit-scrollbar {
  width: 0.4rem;
  /* height: 2rem; */
  background-color: rgba(48, 50, 63, 0.9);
  overflow-x: auto;
}

::-webkit-scrollbar-thumb {
  background-color: #fed14c;
  border-radius: 0.4rem;
}

.redeem-points-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.redeem-points-form--button {
  width: fit-content;
  align-self: center;
  background-color: #333541;
  padding: 0.8rem 1.2rem;
  border-radius: 0.4rem;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.points-text {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

.claim-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 6rem;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 1rem;
}

#claim-result-text {
  color: #87f76c;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 4rem;
}

@media screen and (max-width: 768px) {
  .bet-input-button,
  .nav-buttons-games--coinflip,
  .nav-buttons-games--roulette,
  .small-logo-svg,
  .polish-flag-svg,
  .language_text,
  .logged-in-text,
  .ranking-info-container {
    display: none;
  }

  .nav-buttons-games {
    gap: 1.5rem;
  }
}
