html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 1rem;
  justify-self: center;
  align-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: #1a1c24;
}

.roulette-svg {
  filter: brightness(0) saturate(100%) invert(75%) sepia(81%) saturate(629%)
    hue-rotate(334deg) brightness(104%) contrast(106%);
}

.nav-buttons-games--roulette {
  color: #fec227;
}

.coinflip-svg {
  filter: brightness(0) saturate(100%) invert(71%) sepia(0%) saturate(1413%)
    hue-rotate(248deg) brightness(74%) contrast(79%);
}

.nav-buttons-games--coinflip {
  color: #858585;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  min-height: 80vh;
}

.roulette-game-container {
  align-items: center;
}

.game-dot {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin-right: -4px;
}

.game-dot:nth-child(2n) {
  background-color: #ff0000;
}

.game-dot:nth-child(1) {
  background-color: #02bf4d;
}

.roulette-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
  text-transform: uppercase;
}

.earlier-throws-stats,
.hundred-throws-stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.earlier-throws-text,
.hundred-throws-text,
.stat-value-text {
  font-size: 0.8rem;
  margin-right: 0.5rem;
  color: #aeaeae;
  text-align: center;
}

.stat-value-text {
  margin-left: 0.4rem;
}

.stats-dot {
  height: 1.8rem;
  width: 1.8rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.stats-dot:nth-child(3n) {
  background-color: #ff0000;
}

.stats-dot:nth-child(7) {
  background-color: #02bf4d;
}

.small-stats-dot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.small-stats-dot:nth-child(2) {
  background-color: #02bf4d;
}

.small-stats-dot:nth-child(6) {
  background-color: #ff0000;
}

.bet-form {
  display: flex;
  flex-direction: column;
}

.bet-form-color {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.color-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0.6rem;
  border-radius: 0.8rem;
  background-color: #333541;
  width: 22rem;
  height: 4rem;
  border: 0;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.color-button-bet {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.color-button-multiplier {
  font-size: 0.8rem;
  margin-left: 3rem;
  font-family: "Roboto", sans-serif;
}

.button-dot--green,
.button-dot--red,
.button-dot--white {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 50%;
  display: inline-block;
}

.button-dot--green {
  background-color: #02bf4d;
}

.button-dot--red {
  background-color: #ff0000;
}

.button-dot--white {
  background-color: #fff;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
  .bet-input-button,
  .nav-buttons-games--coinflip,
  .nav-buttons-games--roulette,
  .small-logo-svg,
  .polish-flag-svg,
  .language_text,
  .logged-in-text,
  .ranking-info-container {
    display: none;
  }

  .nav-buttons-games {
    gap: 1.5rem;
  }

  .roulette-stats {
    display: none;
  }

  .bet-form-color {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .roulette-game-container {
    display: flex;
    flex-direction: row;
  }

  .game-dot {
    height: 30px;
    width: 30px;
  }
}
