html {
    font-size: 16px;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #1A1C24;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 20vh;

    display: flex;
    align-items: center;
    margin: 0;
    background: #24252F;

    border-radius: 20px;
    padding: 20px;   
}

.logo-svg {
    width: 450px;
}

.login-container {
    position: absolute;
    top: 40vh;
    align-items: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 350px;
    
    background: #24252F;
    border-radius: 20px;
}

button {
    background: #02BF4D;
    border: 0;
    border-radius: 10px;
    width: 130px;
    height: 50px;
}

input {
    background: #D8D8D8;
    border: 0px;
    border-radius: 10px;
    width: 360px;
    height: 50px;
}

#login_arrow {
    width: 30px;
}