.register-button {
  display: flex;
  background-color: #d8d8d8;
  padding: 0.8rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.4rem;
}

.ranking-button {
  display: flex;
  background-color: #2fa8ff;
  padding: 0.8rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.4rem;
}

.logout-button {
  display: flex;
  background-color: #ff2f2f;
  padding: 0.8rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.4rem;
}

.admin-button {
  display: flex;
  background-color: #ff2fa1;
  padding: 0.8rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.4rem;
}

.info-button {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.8rem;
  height: 2rem;
  width: 10rem;
  border-radius: 0.4rem;
}

.claim-points_text,
.login-button_text,
.register-button_text {
  color: #000;
  font-weight: 400;
}

.logout-button_text,
.ranking-button_text,
.admin-button_text {
  color: #fff;
  font-weight: 400;
}

.info-button_text {
  color: #fec227;
  font-weight: 400;
}

.burger-nav.open {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 18rem;
  height: calc(100vh - 3.6rem);
  background-color: rgba(36, 37, 47, 0.9);
  z-index: 99;
  margin-top: 3.6rem;
  -webkit-animation: fadeIn 0.3s;
  animation: fadeIn 0.3s;
}

.burger-nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2rem;
  gap: 2rem;
}

.burger-nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 2rem;
  gap: 2rem;
}
